header {
  grid-area: header;
  background-color: #2a5ea5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 20px;
  /* text-align:center;
  padding:10px 0; */
}